/* Gridular Font */
@font-face {
    font-family: 'Gridular';
    src: url('/assets/fonts/Gridular-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Mono Font */
@font-face {
    font-family: 'Mono';
    src: url('/assets/fonts/RMMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mono';
    src: url('/assets/fonts/RMMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mono';
    src: url('/assets/fonts/RMMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mono';
    src: url('/assets/fonts/RMMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mono';
    src: url('/assets/fonts/RMMono-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Neue Font */
@font-face {
    font-family: 'Neue';
    src: url('/assets/fonts/RMNeue-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue';
    src: url('/assets/fonts/RMNeue-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue';
    src: url('/assets/fonts/RMNeue-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
